body ,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    height: 100%;
   
}
.Top-banner{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(./images/donation6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70%;
}
.content-area{
    height: 100%;
    text-align: center;
    color: whitesmoke;
    padding: 20px;
}
.content-area h1{
    font-size: 50px;
}

.link-button{
    text-decoration: none;
    color :white;
    background-color: brown;

    padding: 10px;
   
    border-radius: 10px;
}
input{
    background-color: transparent;
    color: #0b0404;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #3a3737 1px;
    padding: 5px 160px;
}
.adjust
{
    margin: 30px;
    
}
.donate-today{
    text-align: center;
    margin: 10px 60px 10px;
    padding: 20px;
    
}
.donate-text{
  font-size: 30px;
  padding: 40px;

   
}
.flexable{
   
    display: flex;
    margin: 20px;
    
    
}
.number{
   width: 10%;
   height: 10%;
   padding: 40px;
   margin-left: 3%;
   margin-right: 3%;
  background-color: rgba(102, 100, 100, 0.116);
   border-radius: 10px;
  
}
#selected{
    color: orange;
    border: 2px solid;
    background-color: rgba(245, 234, 139, 0.322);
}

.donate-plan{

 margin: 20px;
 text-align: center;
}
.card{
    text-align: left;
    border-radius: 18px;
    box-shadow: 10px 10px 10px grey;
    width:40% ;
    margin: 15px;
    padding: 20px;
}
#card-one{
background-color: antiquewhite;
}
#card-two{
    background-color: skyblue;
}
#card-three{
    background-color: lightgoldenrodyellow;
}
.half-width{ 
  
    width: 50%;
    padding-left: 7%;
    margin: 20px;
}
.half-width img{
    
    width: 80%;
    height: 100%;
}
.my-updates{
    padding: 5%;
    
    text-align: center;
}
#box{
   
    height: 100px;
    width: 600px;
    margin-left: 25%;
    padding-top: 5%;
    background-color: antiquewhite;
    border-radius: 10px;
}
.my-updates input{
    font-size: 12px;
    color: #0b0404;
    padding: 10px;
    border: none;
    outline: none;
    background-color: white;
}
.my-updates button{
    padding: 10px;
    color: antiquewhite;
    font-size: 12px;
    border: none;
    border-radius: 5px ;
    background-color: crimson;
    cursor: pointer;
}